# Diretórios de IDEs
.idea/
*.iml
.vscode/

# Compilados do Maven
/target/

# Compilados do Gradle
/build/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos temporários
*.tmp

# Arquivos de ambiente
.env

# Arquivos de configuração local
*.swp
*.swo

# Credenciais
application.yml
application.properties
